.dbdata
.redisdata
.pgadmindata
**/migrations
.dockerignore
Dockerfile
docker-compose.yaml
env
venv
**/__pycache__
**/.vscode
**/*.vscode
.git
.gitignore
logs
**/*.log
**/*.log.*
**/*.pyc
static
staticfiles
media
storage